
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MoslemConnect &mdash;</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="css/superfish.css">

	<link rel="stylesheet" href="css/style.css">


	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body ng-app="moslemConnect" ng-controller="createOrg">
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div ng-show="loggedinUser.userId!=''" class="col-md-6 col-sm-6 text-left fh5co-link">
						<a href="#">FAQ</a>
						<a href="#">Forum</a>
						<a href="#">Contact</a>
					</div>
					<div style="float:right;" class="col-md-6 col-sm-6 text-right fh5co-social">
						<a style="margin-right:25px;" href="#"><strong>{{loggedinUser}}</strong></a>
						<a href="#" class="grow"><i class="icon-facebook2"></i></a>
						<a href="#" class="grow"><i class="icon-twitter2"></i></a>
						<a href="#" class="grow"><i class="icon-instagram2"></i></a>
					</div>
				</div>
			</div>
		</div>
		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="index.html">MoslemConnect</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="">
								<a href="index.html">Home</a>
							</li>
							<li class="">
								<a href="mosques.html">Mosques</a>
							</li>
							<li class="">
								<a href="groups.html">Groups</a>
							</li>
							
							<li>
								<a href="#" class="fh5co-sub-ddown">Events</a>
								 <ul class="fh5co-sub-menu">
									<li><a href="events.html">All Events</a></li>
								 	<li><a href="events.html">Around You</a></li>
								 	<li><a href="events.html">Latest Events</a></li>
								</ul>
							</li>
							<li><a href="advertize.html">Advertize</a></li>
							<li class="active">
								<a href="#" class="fh5co-sub-ddown">Get Involved</a>
								<ul class="fh5co-sub-menu">
									<li><a href="signup.html">Create A Mosque/Group</a></li>
									<li><a href="signin.html">Sign in</a></li>
									<!-- <li><a href="" ng-click="logout()">Log out</a></li> -->
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div id="fh5co-contact" class="animate-box">
			<div class="container">
				<form enctype="multipart/form-data" action="api/org/add" method="POST" id="addOrgForm">
					<div class=" signuprow row">
						<div style="display: none;" class=" col-md-4">
							<div class="logoDiv">
								<h3 class="section-title" style="padding-left: 55px;">Group Logo</h3>
								<img   class="imglogo" src="images/noimg.png" 		alt="img-logo" >
								<!-- <img ng-if="userImg.fileVal!='' "  id="logoimg" class="imglogo" src="{{userImg.fileVal[0]}}" 	alt="img-logo" > -->
								<img onclick="pickImage()" class ="logopicker" src="images/camera.png">
								
								<input type="file" name="logoimg2" id="imgTrigger" style="display:none;"  class="form-control col-md-4" fileread="userImg['fileVal']"/>
							</div>
							
						</div>
						<div class="signupform col-md-12">
							<div class="row">
								<div class="">
									<div class="form-group">
										<input type="text" name="orgName" ng-model="orgData.orgName" value="{{orgData.orgName}}" class="form-control" placeholder="Group/Mosque Name" >
									</div>
								</div>
								<div class="">
									<div class="form-group">
										<input type="text" name="phonenUmber" ng-model="orgData.phonenUmber" value="{{orgData.phonenUmber}}"  class="form-control" placeholder="Phone Number" >
									</div>
								</div>
								<div class="">
									<div class="form-group">
										<input type="text" name="email" ng-model="orgData.email" value="{{orgData.email}}" class="form-control" placeholder="Email" >
									</div>
								</div>
								<div class="">
									<div class="form-group">
										<input type="password" name="password" ng-model="orgData.password" value="{{orgData.password}}"  class="form-control" placeholder="Password" >
									</div>
								</div>
								<div class="">
									<div class="form-group">
										<input type="password" name="password1" ng-model="orgData.password1" value="{{orgData.password1}}" class="form-control" placeholder="Re-Enter Password" >
									</div>
								</div>
								<div class="">
									<div class="form-group">
										<select class="form-control" name="orgType" ng-model="orgData.orgType" value="{{orgData.orgType}}" >
											<option value="">--Select Organization Type--</option>
											<option value="M">Mosque</option>
											<option value="G">Group</option>
										</select>
									</div>
								</div>
								<div class="">
									<div class="form-group">
										<textarea name="about" ng-model="orgData.about" value="{{orgData.about}}" class="form-control" id="" cols="30" rows="5" placeholder="about" ></textarea>
									</div>
								</div>
								<div class="">
									<div class="form-group">
										<input type="button" ng-click="saveOrg()" id="addorgbttn" name="addorgbttn" value="Save" class="btn btn-primary">
										<!-- <input type="submit" id="addorgbttn" name="addorgbttn"  value="Save" class="btn btn-primary"> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END fh5co-contact -->
		<!-- <div id="map" class="fh5co-map"></div> -->
		<!-- END map -->

		
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
							<p>Copyright 2016 Free Html5 <a href="#">Charity</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/sticky.js"></script>

	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>

	<!-- Google Map -->
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="js/google_map.js"></script> -->
	
	<!-- Main JS -->
	<script src="js/main.js"></script>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/appScripts/controller.js"></script>

	</body>
</html>

