<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Evento -Event Html Template">
    <meta name="keywords" content="Evento , Event , Html, Template">
    <meta name="author" content="ColorLib">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> Evento - Event Html Template</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/et-line.css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body ng-app="moslemConnect" ng-controller="adminCntrl">
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <!-- <img src="assets/img/logo.png" alt="Evento"/> -->
                Moslemonnect
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-text-align-right"></span>
            </button>
            <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
                <ul class=" nav navbar-nav menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="events.html">Events</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="pages.html">Pages</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link " href="advert.html">Advertize</a>
                    </li>
                    <li ng-show="loggedinUser.userId==''" class="nav-item">
                        <a class="nav-link " href=""#>Get Started</a>
                        <ul>
                           <li style="color:red"><a style="font-size:1em" data-toggle="modal" data-target="#myModal" href="signin.html">Sign in</a></li>
                            <li style="color:red"><a style="font-size:1em" href="signup.html">Register</a></li>
                        </ul>                    
                    </li>
                    <li ng-show="loggedinUser.userId!=''" class="nav-item">
                        <a class="nav-link " href=""#>{{loggedinUser.email}}</a>
                        <ul>
                            <li style="color:red"><a style="font-size:1em" href="admin.html">My Page</a></li>
                            <li style="color:red"><a style="font-size:1em"  ng-click="logout()" href=""#>Log out</a></li>  
                        </ul>                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="contact.html">Contact </a>
                    </li>
                    <li class="nav-item">
                        <form action="events.html" method="GET">
                                <input type="text" class="searchInput" id="searchval">
                        </form>
                    </li>
                    <li class="search_btn searchBttn">
                        <a href="#">
                           <i class="ion-ios-search"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
</header>
<!--header end here-->

<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="assets/img/bg/bg-img.png">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                        {{orgContents.orgTitle}}
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><span>Past Events 2</span>|</li>
                <li><span>Upcoming Events 1</span></li>
            </ul>
        </div>
    </div>
</section>
<!--page title section end-->


<!--events section -->
<section class="pt100 pb100">
    <div class="container">
        <div class="row justify-content-center">
            <!--blog section start -->
            <div class="col-12 col-md-8">
                <div class="pb20">
                        <button ng-click="showAddEvent()" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#eventModal">Add Event</button>
                </div>

                <div ng-repeat="x in orgContents.conts" class="blog_card">
                    <img style="height: 307px;width: 610px;" ng-if="x.image==null||x.image==''"  src="assets/img/blog/blog1.png" alt="blog News ">
                    <img style="height: 307px;width: 610px;" ng-if="x.image!=null&&x.image!=''" src="{{x.image[0]}}" alt="blog News ">
                    <div class="blog_box_data">
                        <span class="blog_date">
                            {{x.eventName}}
                        </span>
                        <span class="blog_date">
                            {{x.eventDate}}
                        </span>
                        <div class="blog_meta">
                            <span><a href=""#>22 Coming</a></span>  | <span><a href=""#>  3 Key guests   </a></span>|  <span><a href=""#>23 Days Left</a></span>
                            |  <span><a href="#" ng-click="showUpdateEvent(x)" class="readmore_btn" data-toggle="modal" data-target="#eventModal">Edit</a></span>
                        </div>
                        <p class="blog_word">
                            {{x.about}}
                        </p>
                        <!-- <a href=""#  ng-click="showUpdateEvent(x)" class="readmore_btn" data-toggle="modal" data-target="#eventModal"></a> -->
                    </div>
                </div>

                <!--pagenition menu-->
                <div class="mt70 mb70">
                    <ul class="nav_menu">
                        <li class="active"><span>01</span></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                    </ul>
                </div>
                <!--pageintion -->

            </div>
            <!--blog section end-->

            <!--sidebar section -->
            <div class="col-12 col-md-4">
                <div class="sidebar">
                    <div class="widget widget_search">
                        <div class="search-form">
                            <input type="text" class="search-field" placeholder="Search">
                        </div>
                    </div>
                    <div class="widget widget_categories">
                        <h4 class="widget-title">
                            Archives
                        </h4>
                        <ul>
                            <li><a href="#">March 2017</a></li>
                            <li><a href="#">April 2017</a></li>
                            <li><a href="#">May 2017</a></li>
                            <li><a href="#">June 2017</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_categories">
                        <h4 class="widget-title">
                            Categories
                        </h4>
                        <ul>
                            <li><a href="#">Uncategorized</a></li>
                            <li><a href="#">Usefull Information</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Conference & Press</a></li>
                        </ul>
                    </div>

                    <div class="widget widget_latest_post">
                        <h4 class="widget-title">
                            Latest Posts
                        </h4>
                        <ul>
                            <li>
                                <div class="widget_recent_posts">
                                    <img src="assets/img/blog/blog1.png" alt="news">
                                    <div class="content">
                                        <a href="#">Uncategorized</a>
                                        <p>by Jane Smith / Aug 25, 2017</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="widget_recent_posts">
                                    <img src="assets/img/blog/blog2.png" alt="news">
                                    <div class="content">
                                        <a href="#">Uncategorized</a>
                                        <p>by Jane Smith / Aug 25, 2017</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="widget_recent_posts">
                                    <img src="assets/img/blog/blog3.png" alt="news">
                                    <div class="content">
                                        <a href="#">Uncategorized</a>
                                        <p>by Jane Smith / Aug 25, 2017</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="widget_recent_posts">
                                    <img src="assets/img/blog/blog1.png" alt="news">
                                    <div class="content">
                                        <a href="#">Uncategorized</a>
                                        <p>by Jane Smith / Aug 25, 2017</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="widget widget_instagram">
                        <h4 class="widget-title">
                            Notes
                        </h4>
                        <ul>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst5.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst2.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst3.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst4.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst5.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst6.png" alt="instagram"></a></li>
                        </ul>
                    </div>
                    <div class="widget widget_tags">
                        <h4 class="widget-title">
                            Tags
                        </h4>
                        <ul>
                            <li><a href="#">branding</a></li>
                            <li><a href="#">identity</a></li>
                            <li><a href="#">design</a></li>
                            <li><a href="#">inspiration</a></li>
                            <li><a href="#">web design</a></li>
                            <li><a href="#">video</a></li>
                            <li><a href="#">photography</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--sidebar section end -->

        </div>
    </div>
</section>
<!--event section end -->

<div class="modal fade row " id="eventModal" role="dialog">
    <div style="max-width: 1000px" class="modal-dialog">
        <div  class="modal-content p15 blog_card">
            <div class="modal-header">
                <h4 class="modal-title">{{eventData.eventOps}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <img style="height: 502px;" ng-if="eventData.image==''||eventData.image==null" src="assets/img/bg/blog-01.jpg" alt="blog News1">
            <img style="height: 502px;" ng-if="eventData.image!='' && eventData.image!=null" src="{{eventData.image[0]}}" alt="blog News2">
            
            <div style="float: left;" class="pt10 form-group text-right">
                <button onclick="openImage('imageInp')" class="btn btn-rounded btn-primary">Change Image</button>
            </div>
            <input style="display: none" fileread="eventData['image']" type="file" id="imageInp">
            <div class="blog_box_data">
                    <div class="col-md-12 col-12">
                        <div class="contact_form">
                            <div class="form-group">
                                <input type="text" ng-model="eventData.eventName" style="background-color: white;" class="form-control" placeholder="Event name">
                            </div>
                            <div class="form-group">
                                <input type="date" ng-model="eventData.eventDate" style="background-color:white;" class="form-control" placeholder="Event Date">
                            </div>
                            <div class="form-group">
                                <select ng-model="eventData.eventCategory" style="background-color:white;padding: 0px;" class="form-control" id="pageType">
                                    <option value="">--Event category--</option>
                                    <option value="ED">Education</option>
                                    <option value="WF">Welfare</option>
                                    <option value="PC">Politics</option>
                                    <option value="RG">Religious</option>
                                    <option value="HE">Health</option>
                                    <option value="CM">Commerce</option>
                                    <option value="CE">Career</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input ng-model="eventData.eventAddress" type="text" style="background-color:white;" class="form-control" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <input ng-model="eventData.email" type="email" style="background-color:white; float: right;"class="col-md-6  form-control" placeholder="Email">
                                <input ng-model="eventData.phnNum" type="tel"  style="background-color:white; float: left;" class="col-md-6 form-control" placeholder="Contact Number">
                            </div>
                            <div class="form-group">
                                <textarea  ng-model="eventData.about" style="background-color:white;" class="form-control" cols="4" rows="4" placeholder="About"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button  ng-click="saveEvent()" class="btn btn-rounded btn-primary">{{eventData.btn}}</button>
                            </div>

                            <button type="button" class="btn btn-info btn-lg" >Add Speaker</button>
                            <button type="button" class="btn btn-info btn-lg" >Add Galery</button>
                            <button type="button" class="btn btn-info btn-lg" >Add Event Schedule</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<!--footer start -->
<footer>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4 col-12">
                <div class="footer_box">
                    <div class="footer_header">
                        <div class="footer_logo">
                            <img src="assets/img/logo.png" alt="evento">
                        </div>
                    </div>
                    <div class="footer_box_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in aazzzCurabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                        </p>
                        <ul class="footer_social">
                            <li>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-dribbble"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="footer_box">
                    <div class="footer_header">
                        <h4 class="footer_title">
                            instagram
                        </h4>
                    </div>
                    <div class="footer_box_body">
                        <ul class="instagram_list">
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c1.png" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c2.png" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c3.png" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c3.png" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c2.png" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c1.png" alt="instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="footer_box">
                    <div class="footer_header">
                        <h4 class="footer_title">
                            subscribe to our newsletter
                        </h4>
                    </div>
                    <div class="footer_box_body">
                        <div class="newsletter_form">
                            <input type="email" class="form-control" placeholder="E-Mail here">
                            <button class="btn btn-rounded btn-block btn-primary">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright_footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
            <div class="col-12 col-md-6 ">
                <ul class="footer_menu">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Speakers</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--footer end -->

<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!--parallax -->
<script src="assets/js/parallax.min.js"></script>
<!--Counter up -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!--Counter down -->
<script src="assets/js/jquery.countdown.min.js"></script>
<!-- WOW JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="assets/js/main.js"></script>
<script src="assets/js/customFunc.js"></script>
<script src="assets/js/angular/angular.min.js"></script>
<script src="assets/js/appScripts/controller.js"></script>
</body>
</html>