<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Evento -Event Html Template">
    <meta name="keywords" content="Evento , Event , Html, Template">
    <meta name="author" content="ColorLib">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> Evento - Event Html Template</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/et-line.css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body ng-app="moslemConnect" ng-controller="eventCntrl">
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <!-- <img src="assets/img/logo.png" alt="Evento"/> -->
                Moslemonnect
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-text-align-right"></span>
            </button>
            <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
                <ul class=" nav navbar-nav menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="events.html">Events</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="pages.html">Pages</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link " href="advert.html">Advertize</a>
                    </li>
                    <li ng-show="loggedinUser.userId==''" class="nav-item">
                        <a class="nav-link " href=""#>Get Started</a>
                        <ul>
                           <li style="color:red"><a style="font-size:1em" data-toggle="modal" data-target="#myModal" href="signin.html">Sign in</a></li>
                            <li style="color:red"><a style="font-size:1em" href="signup.html">Register</a></li>
                        </ul>                    
                    </li>
                    <li ng-show="loggedinUser.userId!=''" class="nav-item">
                        <a class="nav-link " href=""#>{{loggedinUser.email}}</a>
                        <ul>
                            <li style="color:red"><a style="font-size:1em" href="admin.html">My Page</a></li>
                            <li style="color:red"><a style="font-size:1em"  ng-click="logout()" href=""#>Log out</a></li>  
                        </ul>                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="contact.html">Contact </a>
                    </li>
                    <li class="nav-item">
                        <form action="events.html" method="GET">
                                <input type="text" class="searchInput" id="searchval">
                        </form>
                    </li>
                    <li class="search_btn searchBttn">
                        <a href="#">
                           <i class="ion-ios-search"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
</header>
<!--header end here-->

<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="{{eventContents.image}}">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-9">
                <div class="inner_cover_content">
                    <h3>
                       {{eventContents.eventName}}
                    </h3>
                    <div class="countdown"></div>
                </div>
            </div>
            <div class="col-md-3 text-md-right text-center">
                <a ng-if="!editable" href=""# ng-click="joinEvent()" class="btn btn-primary btn-rounded mt30">Join</a>
                <a ng-if="editable" href=""# ng-click="joinEvent()" class="btn btn-primary btn-rounded mt30">Edit</a>
                
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Coming {{eventCount}}</a>  |   </li>
                <li><span>Tickets Left 120</span></li>
            </ul>
        </div>
    </div>
</section>
<!--page title section end-->

<!--events section -->
<section class="pt10 pb10">
    <div class="container">
        <div class="row justify-content-center">
            <!--blog section start -->
            <div class="col-12 col-md-8">
                <div style="margin:0px;" class="blog_card">
                    <div class="blog_box_data">
                        <h5>
                            Description
                        </h5>
                        <p class="blog_word">
                            {{eventContents.about}}
                        </p>
                        <!-- <a href="#" class="readmore_btn">Read More</a> -->
                    </div>
                </div>
                <div class="">
                        <div class="table-responsive">
                            <table style="min-width: 50px;" class="event_calender table">
                                <thead class="event_title">
                                <tr>
                                    <th>
                                        <!-- <i class="ion-ios-calendar-outline"></i> -->
                                        <span>next events calendar</span>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    
                                    <td class="event_date">
                                        14
                                        <span>February</span>
                                    </td>
                                    <td>
                                        <div class="event_place">
                                            <h5>Conference in Amsterdam</h5>
                                            <h6>08 AM - 04 PM</h6>
                                            <p>Speaker: Daniel Hill</p>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-rounded">Read More</a>
                                    </td>
                                </tr>
                                <tr>
                                   
                                    <td class="event_date">
                                        18
                                        <span>February</span>
                                    </td>
                                    <td>
                                        <div class="event_place">
                                            <h5>Conference in Amsterdam</h5>
                                            <h6>08 AM - 04 PM</h6>
                                            <p>Speaker: Daniel Hill</p>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-rounded">Read More</a>
                                    </td>
                                </tr>
                                <tr>
                                    
                                    <td class="event_date">
                                        22
                                        <span>February</span>
                                    </td>
                                    <td>
                                        <div class="event_place">
                                            <h5>Conference in Amsterdam</h5>
                                            <h6>08 AM - 04 PM</h6>
                                            <p>Speaker: Daniel Hill</p>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-rounded">Read More</a>
                                    </td>
                                    
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                <!--pagenition menu-->
                <!-- <div class="mt100 mb70">
                    <ul class="nav_menu">
                        <li class="active"><span>01</span></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                    </ul>
                </div> -->
                <!--pageintion -->

            </div>
            <!--blog section end-->

            <!--sidebar section -->
            <div class="col-12 col-md-4">
                <div class="sidebar">
                    <div class="widget widget_search">
                        <div class="search-form">
                            <input type="text" class="search-field" placeholder="Search">
                        </div>
                    </div>
                    <div class="widget widget_categories">
                        <h4 class="widget-title">
                            Location
                        </h4>
                        <div class="col-12 ">
                            <!--map -->
                            <!-- <div id="map" data-lon="24.036176" style="min-height: 200px;"data-lat=" 57.039986" class="map"></div> -->
                            <!--map end-->
                        </div>
                        
                    </div>
                    <div class="widget widget_instagram">
                        <h4 class="widget-title">
                            Galleries
                        </h4>
                        <ul>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst5.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst2.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst3.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst4.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst5.png" alt="instagram"></a></li>
                            <li><a href="#"><img src="assets/img/blog/instagram/inst6.png" alt="instagram"></a></li>
                        </ul>
                    </div>
                    <div class="widget widget_tags">
                        <h4 class="widget-title">
                            Tags
                        </h4>
                        <ul>
                            <li><a href="#">branding</a></li>
                            <li><a href="#">identity</a></li>
                            <li><a href="#">design</a></li>
                            <li><a href="#">inspiration</a></li>
                            <li><a href="#">web design</a></li>
                            <li><a href="#">video</a></li>
                            <li><a href="#">photography</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--sidebar section end -->

        </div>
    </div>
</section>
<!--event section end -->

<!--speaker section-->
<section class="pb100">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                   our speakers
                </h3>
            </div>
        </div>
        <div class="row justify-content-center no-gutters">
            <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s1.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">Patricia Stone</h5>
                            <p class="position">CEO Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s2.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">James Oliver</h5>
                            <p class="position">CEO Company</p>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s3.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">Carla Banks</h5>
                            <p class="position">CEO Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s4.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">William Smith</h5>
                            <p class="position">CEO Company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--speaker section end -->

<!--get tickets section -->
<section class="bg-img pt100 pb100" style="background-image: url('assets/img/bg/tickets.png');">
    <div class="container">
        <div class="section_title mb30">
            <h3 class="title color-light">
                BetCoin Inc.
            </h3>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 text-md-left text-center color-light">
                    For more than a year, we have committed ourselves to building blockchain solutions for both enterprise and end-users. Our platforms enable you to bridge the gap between your existing infrastructure and the promise of Distributed Ledger Technology.

                    Visit us at www.venhub.org to know more
            </div>
            <div class="col-md-3 text-md-right text-center">
                <a href="pages.html" class="btn btn-primary btn-rounded mt30">Visit Page</a>
            </div>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Coming 63</a>  |   </li>
                <li><span>Tickets Left 120</span></li>
            </ul>
        </div>
    </div>
</section>
<!--get tickets section end-->
<button id="signInTrigger" style="display: none" data-toggle="modal" data-target="#signInModal"  >Sign in</button>
<button id="joinEventTrigger" style="display: none" data-toggle="modal" data-target="#joinEventModal"  >Sign in</button>
<!--signin section -->
<section class="pt10 pb100">
        <div class="modal fade row " id="signInModal" role="dialog">
                <div style="max-width: 500px" class="modal-dialog">
                    <div  class="modal-content p15 blog_card">
                        <div class="modal-header">
                            
                            <h4 class="modal-title">Sign in</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- <img src="assets/img/blog/blog1.png" alt="blog News "> -->
                        <div class="blog_box_data">
                            <div class="col-md-12 col-12">
                                <!-- <form method="POST" action="admin.html"> -->
                                    <div class="contact_form">
                                            <div class="form-group">
                                                <input type="text" style="background-color: white;" ng-model="orgData.email" value="{{orgData.email}}" class="form-control" placeholder="Email or Phone number">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" style="background-color:white;" ng-model="orgData.password" value="{{orgData.password}}" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <a href="">Forgot Password</a>
                                            </div>
                                            <div class="form-group">
                                                <button ng-click="signin()" class="btn btn-rounded btn-primary">Login</button>
                                            </div>
                                    </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</section>
<!--signin section end -->

<!--eventJoin section -->
<section class="pt10 pb100">
        <div class="modal fade row " id="joinEventModal" role="dialog">
                <div style="max-width: 500px" class="modal-dialog">
                    <div  class="modal-content p15 blog_card">
                        <div class="modal-header">
                            
                            <h4 class="modal-title">Join Event</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- <img src="assets/img/blog/blog1.png" alt="blog News "> -->
                        <div class="blog_box_data">
                            <div class="col-md-12 col-12">
                                <!-- <form method="POST" action="admin.html"> -->
                                    <div class="contact_form">
                                            <div class="form-group">
                                                <label>Choose Ticket Type</label>
                                                <select ng-model="joinEventData.ticktype" style="background-color:white;padding: 0px;" class="form-control" id="pageType">
                                                    <option value="VIP">VIP</option>
                                                    <option value="REG">Regular</option>
                                                </select>
                                            </div>
                                            <div class="form-group co-md-12">
                                                <label>Set Reminder</label>
                                                <input type="text" style="background-color: white;" ng-model="joinEventData.reminderTime" value="{{joinEventData.reminderTime}}" class="form-control col-md-6" placeholder="2 minutes to">
                                                <select ng-model="joinEventData.reminderTimer" style="background-color:white;padding: 0px;" class="form-control col-md-6" id="pageType">
                                                    <option value="">None</option>
                                                    <option value="ED">minutes</option>
                                                    <option value="WF">hours</option>
                                                </select>
                                            </div>
                                           
                                            <div class="form-group">
                                                <button ng-click="joinEvent()" class="btn btn-rounded btn-primary">Submit</button>
                                            </div>
                                    </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</section>
<!--eventJoin section end -->

<div class="copyright_footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
            <div class="col-12 col-md-6 ">
                <ul class="footer_menu">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Speakers</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--footer end -->

<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!--parallax -->
<script src="assets/js/parallax.min.js"></script>
<!--Counter up -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!--Counter down -->
<script src="assets/js/jquery.countdown.min.js"></script>
<!-- WOW JS -->
<script src="assets/js/wow.min.js"></script>
<!--map -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuahgsm_qfH1F3iywCKzZNMdgsCfnjuUA"></script> -->
<!-- Custom js -->
<script src="assets/js/main.js"></script>
<script src="assets/js/angular/angular.min.js"></script>
<script src="assets/js/appScripts/controller.js"></script>
</body>
</html>