<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Evento -Event Html Template">
    <meta name="keywords" content="Evento , Event , Html, Template">
    <meta name="author" content="ColorLib">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> Evento - Event Html Template</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/et-line.css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body ng-app="moslemConnect" ng-controller="eventsCntrl" >
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <!-- <img src="assets/img/logo.png" alt="Evento"/> -->
                Moslemonnect
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-text-align-right"></span>
            </button>
            <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
                <ul class=" nav navbar-nav menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="events.html">Events</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link " href="pages.html">Pages</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link " href="advert.html">Advertize</a>
                    </li>
                    <li ng-show="loggedinUser.userId==''" class="nav-item">
                        <a class="nav-link " href=""#>Get Started</a>
                        <ul>
                           <li style="color:red"><a style="font-size:1em" data-toggle="modal" data-target="#myModal" href="signin.html">Sign in</a></li>
                            <li style="color:red"><a style="font-size:1em" href="signup.html">Register</a></li>
                        </ul>                    
                    </li>
                    <li ng-show="loggedinUser.userId!=''" class="nav-item">
                        <a class="nav-link " href=""#>{{loggedinUser.email}}</a>
                        <ul>
                            <li style="color:red"><a style="font-size:1em" href="admin.html">My Page</a></li>
                            <li style="color:red"><a style="font-size:1em"  ng-click="logout()" href=""#>Log out</a></li>  
                        </ul>                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="contact.html">Contact </a>
                    </li>
                    <li class="nav-item">
                        <form action="events.html" method="GET">
                                <input type="text" class="searchInput" id="searchval">
                        </form>
                    </li>
                    <li class="search_btn searchBttn">
                        <a href="#">
                           <i class="ion-ios-search"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
</header>
<!--header end here-->

<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="assets/img/bg/bg-img.png">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                       Events
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a>  |   </li>
                <li><span>Events</span></li>
            </ul>
        </div>
    </div>
</section>
<!--page title section end-->


<!--speaker section-->
<section class="pb100">
        <div class="container">
            <div class="section_title mb50">
                   
                <h3 class="title">
                    Events <i style="color:rgb(187, 26, 61);font-family: cursive;font-size: 15px"> in {{searchCriteria.location}}</i>
                </h3>
                <!-- <input   type="text" placeholder="Filter events" class="col-md-8 form-control" >
                <input   type="text" placeholder="Location" class="col-md-4 form-control" > -->
            </div>
            <table style="width: 100%">
                <tr>
                    <td><input type="email" style="background-color:white;column-span: 2"class="form-control" placeholder="Filter Event"></td>
                    <td><input type="text"  ng-model="searchCriteria.location" style="background-color:white;" class="form-control" placeholder="Location"></td>
                </tr>
            </table>
                
        </div>
        <div class="row justify-content-center no-gutters">
            <div ng-repeat="x in eventList" class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img ng-if="x.image==null||x.image==''" style="height: 270px;" src="assets/img/speakers/s1.png" alt="speaker name">
                        <img ng-if="x.image!=null&&x.image!=''" style="height: 270px;" src="{{x.image[0]}}" alt="speaker name">
                        <a href="event.html?{{x.eventId}}">
                            <div class="info_box">
                                <h5 class="name">{{x.eventName}}</h5>
                                <p class="position">{{x.eventAddress}}</p>
                                <h6 class="position">{{x.eventDate}}</h6>
                            </div>
                            
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s2.png" alt="speaker name">
                        <a href="event.html">
                            <div class="info_box">
                                <h5 class="name">Party Night</h5>
                                <p class="position">2 Simpson street Orile </p>
                                <h6 class="position">22 July 2018</h6>
                            </div>
                        </a>
                        
                    </div>
                </div>
    
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s3.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">Wedding</h5>
                            <p class="position">43 events</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s4.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">William Smith</h5>
                            <p class="position">CEO Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s5.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">Jessica Black</h5>
                            <p class="position">CEO Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s6.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">Patricia Stone</h5>
                            <p class="position">CEO Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s7.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">Duncan Stan</h5>
                            <p class="position">CEO Company</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s8.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">Patricia Stone</h5>
                            <p class="position">CEO Company</p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="container">
            <div style="text-align: center; " class=" mb50">
                    <a href="#"  class=" btn btn-primary btn-rounded" >
                            See More
                    </a>
            </div>
        </div>
        
</section>
<!--speaker section end -->



<!--get tickets section -->
<section class="bg-img pt100 pb100" style="background-image: url('assets/img/bg/tickets.png');">
    <div class="container">
        <div class="section_title mb30">
            <h3 class="title color-light">
                GEt your tikets
            </h3>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 text-md-left text-center color-light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in aazzzCurabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
            </div>
            <div class="col-md-3 text-md-right text-center">
                <a href="#" class="btn btn-primary btn-rounded mt30">buy now</a>
            </div>
        </div>
    </div>
</section>
<!--get tickets section end-->

<!--footer start -->
<footer>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4 col-12">
                <div class="footer_box">
                    <div class="footer_header">
                        <div class="footer_logo">
                            <img src="assets/img/logo.png" alt="evento">
                        </div>
                    </div>
                    <div class="footer_box_body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in aazzzCurabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                        </p>
                        <ul class="footer_social">
                            <li>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-dribbble"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="footer_box">
                    <div class="footer_header">
                        <h4 class="footer_title">
                            instagram
                        </h4>
                    </div>
                    <div class="footer_box_body">
                        <ul class="instagram_list">
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c1.png" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c2.png" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c3.png" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c3.png" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c2.png" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/cleander/c1.png" alt="instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="footer_box">
                    <div class="footer_header">
                        <h4 class="footer_title">
                            subscribe to our newsletter
                        </h4>
                    </div>
                    <div class="footer_box_body">
                        <div class="newsletter_form">
                            <input type="email" class="form-control" placeholder="E-Mail here">
                            <button class="btn btn-rounded btn-block btn-primary">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright_footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
            <div class="col-12 col-md-6 ">
                <ul class="footer_menu">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Speakers</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--footer end -->

<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!--parallax -->
<script src="assets/js/parallax.min.js"></script>
<!--Counter up -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!--Counter down -->
<script src="assets/js/jquery.countdown.min.js"></script>
<!-- WOW JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="assets/js/main.js"></script>
<script src="assets/js/angular/angular.min.js"></script>
<script src="assets/js/appScripts/controller.js"></script>
</body>
</html>