<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Evento -Event Html Template">
    <meta name="keywords" content="Evento , Event , Html, Template">
    <meta name="author" content="ColorLib">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> Evento - Event Html Template</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/et-line.css" rel="stylesheet">
    <link href="assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body ng-app="moslemConnect" ng-controller="indexedCntrl">
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <!-- <img src="assets/img/logo.png" alt="Evento"/> -->
            Moslemonnect
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-text-align-right"></span>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="events.html">Events</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " href="pages.html">Pages</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link " href="advert.html">Advertize</a>
                </li>
                <li ng-show="loggedinUser.userId==''" class="nav-item">
                    <a class="nav-link " href=""#>Get Started</a>
                    <ul>
                       <li style="color:red"><a style="font-size:1em" data-toggle="modal" data-target="#myModal" href="signin.html">Sign in</a></li>
                        <li style="color:red"><a style="font-size:1em" href="signup.html">Register</a></li>
                    </ul>                    
                </li>
                <li ng-show="loggedinUser.userId!=''" class="nav-item">
                    <a class="nav-link " href=""#>{{loggedinUser.email}}</a>
                    <ul>
                        <li style="color:red"><a style="font-size:1em" href="admin.html">My Page</a></li>
                        <li style="color:red"><a style="font-size:1em"  ng-click="logout()" href=""#>Log out</a></li>  
                    </ul>                    
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="contact.html">Contact </a>
                </li>
                <li class="nav-item">
                    <form action="events.html" method="GET">
                            <input type="text" class="searchInput" id="searchval">
                    </form>
                </li>
                <li class="search_btn searchBttn">
                    <a href="#">
                       <i class="ion-ios-search"></i>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</header>
<!--header end here-->

<!--cover section slider -->
<section id="home" class="home-cover">
    <div class="cover_slider owl-carousel owl-theme">
        <div class="cover_item" style="background: url('assets/img/bg/ban1.jpg');">
             <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <!-- <h2 class="cover-title">
                                Prepare yourself for the
                            </h2>
                            <strong class="cover-xl-text">conference</strong>
                            <p class="cover-date">
                                12-14 February 2018  - Los Angeles, CA.
                            </p>
                            <a href="#" class=" btn btn-primary btn-rounded" >
                                Buy Tickets Now
                            </a> -->
                            <h2 class="cover-title">
                                Plan. Find. Manage.
                            </h2>
                            <strong class="cover-xl-text">Events</strong>
                            <p class="cover-date">
                                Anywhere You are
                            </p>
                            <a href="#" class=" btn btn-primary btn-rounded" >
                                Start Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover_item" style="background: url('assets/img/bg/slider.png');">
            <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-left">
                            <h2 class="cover-title">
                                Plan. Find. Manage.
                            </h2>
                            <strong class="cover-xl-text">Events</strong>
                            <p class="cover-date">
                                Anywhere You are
                            </p>
                            <a href="#" class=" btn btn-primary btn-rounded" >
                                Start Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover_item" style="background: url('assets/img/bg/ban2.jpg');">
            <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h2 class="cover-title">
                                Plan. Find. Manage.
                            </h2>
                            <strong class="cover-xl-text">Events</strong>
                            <p class="cover-date">
                                Anywhere You are
                            </p>
                            <a href="#" class=" btn btn-primary btn-rounded" >
                                Start Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cover_nav">
        <ul class="cover_dots">
            <li class="active" data="0"><span>1</span></li>
            <li  data="1"><span>2</span></li>
            <li  data="2"><span>3</span></li>
        </ul>
    </div>
</section>
<!--cover section slider end -->

<!--brands section -->
<!-- <section class="bg-gray pt100 pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                our partners
            </h3>
        </div>
        <div class="brand_carousel owl-carousel">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s1.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">IT</h5>
                        <p class="position">22 events</p>
                    </div>
                </div>
            </div>
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s1.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">IT</h5>
                        <p class="position">22 events</p>
                    </div>
                </div>
            </div>

            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s1.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">IT</h5>
                        <p class="position">22 events</p>
                    </div>
                </div>
            </div>
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s1.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">IT</h5>
                        <p class="position">22 events</p>
                    </div>
                </div>
            </div>
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="assets/img/speakers/s1.png" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">IT</h5>
                        <p class="position">22 events</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--brands section end-->


<!--speaker section-->
<section class="pb100">
        <div class="container">
            <div style="text-align: center; " class=" mb50">
                <h3 class="title">
                   Event Categories
                </h3>
            </div>
        </div>
        <div class="row justify-content-center no-gutters">
          
            <div ng-repeat="x in eventCategories" class="col-md-3 col-sm-6">
                <div class="speaker_box">
                    <div class="speaker_img">
                        <img src="assets/img/speakers/s3.png" alt="speaker name">
                        <div class="info_box">
                            <h5 class="name">{{x.name}}</h5>
                            <p class="position">43 events</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container">
            <div style="text-align: center; " class=" mb50">
                    <a href="#"  class=" btn btn-primary btn-rounded" >
                            See All
                    </a>
            </div>
        </div>
        
</section>
<!--speaker section end -->

<!--signin section -->
<section class="pt10 pb100">
    <div class="modal fade row " id="myModal" role="dialog">
            <div style="max-width: 500px" class="modal-dialog">
                <div  class="modal-content p15 blog_card">
                    <div class="modal-header">
                        
                        <h4 class="modal-title">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- <img src="assets/img/blog/blog1.png" alt="blog News "> -->
                    <div class="blog_box_data">
                        <div class="col-md-12 col-12">
                            <!-- <form method="POST" action="admin.html"> -->
                                <div class="contact_form">
                                        <div class="form-group">
                                            <input type="text" style="background-color: white;" ng-model="orgData.email" value="{{orgData.email}}" class="form-control" placeholder="Email or Phone number">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" style="background-color:white;" ng-model="orgData.password" value="{{orgData.password}}" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <a href="">Forgot Password</a>
                                        </div>
                                        <div class="form-group">
                                            <button ng-click="signin()" class="btn btn-rounded btn-primary">Login</button>
                                        </div>
                                </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
<!--signin section end -->

<!--footer start -->
<div class="copyright_footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
                <div class="col-12 col-md-6 ">
                    <ul class="footer_menu">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Speakers</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">News</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
<!--footer end -->

<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!--parallax -->
<script src="assets/js/parallax.min.js"></script>
<!--Counter up -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!--Counter down -->
<script src="assets/js/jquery.countdown.min.js"></script>
<!-- WOW JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="assets/js/main.js"></script>

<script type='text/javascript' src='assets/js/swiper.min.js'></script>
<script src="assets/js/angular/angular.min.js"></script>
<script src="assets/js/appScripts/controller.js"></script>
</body>
</html>